{% extends "index_operator.html" %}
{% load static %}
{% block content %}


<h1 align='center'>Статистика по клиенти</h1>
<div class="alert alert-info">
  <strong>Info!</strong> .
</div>

    <div class="container-fluid">
    <table id="table2" class="table table-striped table-bordered dataTable no-footer" role='grid' aria-describedby="datatable_info">
        <thead>
            <tr>
              <th>Клиент/Проект</th>
              <th>Доставени/Необработени</th>
              <th>Недоставени</th>
              <th>Общо</th>
            </tr>
        </thead>

        {% for eachItem in frontData %}
            <tr>
                <td>
                    {{ eachItem.clientName }}
                </td>
                <td>
                    {{ eachItem.counter_delivered }}
                </td>
                <td>
                    {{ eachItem.counter_undelivered }}
                </td>
                <td>
                    {{ eachItem.counter_total }}
                </td>
            </tr>

        {% endfor %}

    </table>
    </div>
<script>
</script>

{% endblock %}
