{% extends "index_operator.html" %}
{% load static %}
{% block content %}


    <h1 align='center'>Изберете период за експортиране</h1>
    <div class="alert alert-info">
      <strong>Info!</strong> Резултата от експортирането ще бъде csv файл.
    </div>

    <div class="container-fluid">
        <form method="post" class="form-group">
        {% csrf_token %}
            <label for="clientName"> Избери клиент:</label>
            <select name="client" id="clientName" class="form-control">
                {% for eachClient in allClients %}
                    <option value="{{ eachClient.id }}">{{ eachClient.name }}</option>
                {% endfor %}
            </select>
            <hr>
            <label for="period"> Избери период:</label>
            <div class="row" name="period" id="period">
                <div class="col-md-2"></div>
                <button class="btn btn-primary col-md-2 days" type='submit' name="days" value="2">Вчера</button>
                <button class="btn btn-primary col-md-2 days" type='submit' name="days" value="1">Днес</button>
                <button class="btn btn-primary col-md-2 days" type='submit' name="days" value="8">Последните 7 дни</button>
                <button class="btn btn-primary col-md-2 days" type='submit' name="days" value="31">Последните 30 дни</button>
            </div>
        </form>
    </div>

<script>

</script>

{% endblock %}
