{% extends "base_site.html" %}
{% load static %}
{% block content %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1 align='center'>Изберете период за експортиране</h1>
    <div class="alert alert-info">
        <strong>Info!</strong> Резултата от експортирането ще бъде csv файл.
    </div>

        <form method="post" class="form-group">
            {% csrf_token %}
            <label for="clientName"> Избери клиент:</label>
            <select name="client" id="clientName" class="form-control">
                {% for eachClient in allClients %}
                    <option value="{{ eachClient.id }}">{{ eachClient.name }}</option>
                {% empty %}
                    <option>Няма създадени клиенти!</option>
                {% endfor %}
            </select>
            <hr>
            <div class="row" >
                <div class="col-lg-6" id="period">
                    <label> Избери период:</label>
                    <div>
                        <button class="btn btn-primary days" type='submit' name="days" value="1">от вчера</button>
                        <button class="btn btn-primary days" type='submit' name="days" value="0">Днес</button>
                        <button class="btn btn-primary days" type='submit' name="days" value="8">Последните 7 дни</button>
                        <button class="btn btn-primary days" type='submit' name="days" value="31">Последните 30 дни</button>
                    </div>

                </div>
                <div class="col-lg-6">
                    <label> Избери дати:</label>

                    <input type="text" name="request_dates" id="request_dates" class="form-control" value="01/01/2017 - 01/01/2017">
                    <button class="form-control btn btn-block btn-primary">Избери датите</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-md-2"></div>

    {% block js_import %}
        {{ block.super }}
        <script>
            $('#request_dates').daterangepicker({
                timePicker: false,
                startDate: new Date(),
                endDate: new Date(),
                autoUpdateInput: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });


        </script>
    {% endblock js_import %}

{% endblock %}
