{% extends "index_operator.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid start">

    <h1>Писма за клиент XXXXXXXXXXXXXXX</h1>
    <br/>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i < 10 %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      <li> <a> ... </a> </li>
      <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>

    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
          <table class="table-bordered table-hover" id="table">
            <thead>
              <tr>
              {% for eachHeader in Header %}
                <th>{{ eachHeader }}</th>
              {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for eachRow in frontData%}
              <tr>
                {% for eachItem in eachRow.value %}
                    <td>{{ eachItem.value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% elif i < 10 %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      <li> <a> ... </a> </li>
      <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>

    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    </div>
<script>
$(document).ready(function() {
    $('#table').DataTable({
        bPaginate: false,
        bFilter: false
       });
});
</script>
{% endblock %}