{% extends "client/base_site.html" %}
{% load static %}
{% block content %}
    <!-- top tiles -->
    <div class="right_col" role="main">
        <div class="row" align="center">
            <h1>Създаване и добавяне на документи към заявка на заявка за документи</h1>
        </div>
        <div class="row" align="center">
            <div class="col-md-6 col-md-offset-3" id="request_create_panel">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>Създаване на заявка</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label for="request_date">Дата на заявката</label>
                        <input type="date" class='form-control' id="request_date" name="request_date">
                        <label for="office_number">Номер на офис</label>
                        <input type="text" class="form-control" id="office_number" name="office_number">
                        <label for="protocol_number">Номер на протокол</label>
                        <input type="text" class="form-control" id="protocol_number" name="protocol_number">
                        <br/>
                        <button class='btn btn-primary form-control' name="create_request" id="create_request">Създай заявка</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="add-documents-panel" hidden>
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>Добавяне на документи към заявката</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content form-group">
                        <label for="document_number">Номер на документ</label>
                        <input type="text" name="document_number" id="document_number">
                    </div>
                </div>
            </div>
        </div>

        <div id="errorValuesModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Некоректни записи</h4>
                    </div>
                    <div class="modal-body">
                        <p>Всички полета във формуляра се очаква да са попълнени!.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="serverError" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Грешка на сървъра</h4>
                    </div>
                    <div class="modal-body">
                        <p>Има грешка в обработването на подадените данни на сървъра, моля опитайте да презаредите страницата и да опитате отново!.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block js_import %}
        {{ block.super }}
        <script src="/static/vendors/moment/min/moment.min.js"></script>
        <script src="/static/vendors/fullcalendar/dist/fullcalendar.min.js"></script>

    {% endblock js_import %}

    <script>
        $('#create_request').on('click', function(){
            var office_number = $('#office_number').val();
            var protocol_number = $('#protocol_number').val();

            if (request_date === ""  || office_number === "" ){
                $('#errorValuesModal').modal();
            }
            else{
                $('#request_create_panel').hide();
                var params = {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'office_number': office_number,
                    'protocol_number': protocol_number,
                };
                $.ajax({
                    url: '/new-document-request',
                    type: 'POST',
                    data: params,
                    dataType: 'json',
                    error: function (response) {
                        $('#request_create_panel').show();
                        $('#serverError').modal();
                    },
                    success: function(response){
                        console.log(response)
                    }
                });
            }

        })
    </script>


{% endblock content%}
