{% extends "base_site.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <h1 align='center'>Създаване на нов клиент</h1>
            <div class="x_panel">
                <div class="x_content">

                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label for="clientname">Име на клиент</label>
                    <input type="text" id="clientname" name="clientname" class="form-control"/>
                    <br/>
                    <button class="btn btn-primary" name="create">Създай</button>

                </form>
                </div>

                {{ Header }}
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    {% block js_import %}
        {{ block.super }}
    {% endblock %}

{% endblock %}

