{% extends "index_operator.html" %}
{% load static %}
{% block content %}
    <div class="container start panel">
        <form method="post">
            {% csrf_token %}
              <select class="form-control" name="clientname">
                {% for eachClient in object_list %}
                    <option value="{{ eachClient.name }}">{{ eachClient.name }}</option>
                {% empty %}
                    <option>No clients</option>
                {% endfor %}

              </select>
            <br/>
            <input type="text" name="projectname" class="form-control"/>
            <br/>
            <button class="btn btn-primary" name="attach">Създай проект</button>
        </form>
    </div>

{% endblock %}